fastapi==0.111.0
loguru==0.7.2
langchain==0.1.14
pydantic==2.7.2
pydantic_core==2.18.3
pydantic_settings==2.2.1
html2text==2020.1.16
faiss-cpu==1.8.0
beautifulsoup4==4.12.3
pandas==2.0.3
python-dotenv==1.0.1
tqdm==4.66.3
minify-html==0.15.0
free-proxy==1.1.1
playwright==1.43.0
undetected-playwright==0.3.0
lxml==5.2.2
readability==0.3.1
readability-lxml==0.8.1
lxml_html_clean==0.1.1